html {
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
body{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    color: #A3A3A5;
    font-style: normal;
    font-optical-sizing: auto;
    line-height: .8;
    font-weight: 400;
    background: #121316;
}
.container{
    width: 1240px;
    margin: 0 auto;
    /* border: 1px dotted red; */
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
span{
    display: inline-block;
}
ol,ul{
    list-style-type: none;
}
.dGrid{
    display: grid;
}
/* NAV start */
#nav{
    width: 100%;
    padding-top: 30px;
    background: #121316;
    position: sticky;
    left: 0;
    top: 0;
    /* transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%); */
    z-index: 999999999;
}
#nav .dGrid{
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    text-transform: capitalize;
    padding-bottom: 30px;
    border-bottom: 1px solid #555557;
}
#nav .dGrid i{
    margin-left: 8px;
}
/* NAV end */

/* Banner start */
#banner{
    padding-top: 280px;
    padding-bottom: 100px;
    position: relative;
}
#banner h1{
    width: 834px;
    font-size: 110px;
    font-weight: 700;
    line-height: 1.25;
    color: #fff;
    /* color: linear-gradient(45deg, black, red); */
    letter-spacing: -6px;
}
#banner h1 span{
    color: rgba(255, 255, 255, 0.5);
}
.bannerImage{
    width: 100%;
    height: 444px;
    background-color: #555557;
    margin-top: 90px;
    position: relative;
    z-index: 2;
}
.bannerImage>i{
    width: 142px;
    height: 142px;
    font-size: 25px;
    line-height: calc(142px - (6px *2));
    text-align: center;
    color: #121316;
    background: rgb(221,255,85);
    background: linear-gradient(90deg, rgba(221,255,85,1) 0%, rgba(193,248,11,1) 100%);
    border: 6px solid #121316;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    right: 39px;
    top: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
#banner .dGrid{
    font-size: 24px;
    color: #fff;
    margin-top: 32px;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}
#banner .dGrid p span{
    font-size: 24px;
    color: #717173;
}
#banner .bannerIllustration1 {
    /* width: calc(100vw - 76.6vw); */
    width: calc(100% - 76.6%);
    /* width: 23.50%; */
    height: 413px;
    background: linear-gradient(to bottom, rgba(32, 34, 39, 0.05), #202227);
    position: absolute;
    left: 0;
    bottom: 0;
}
#banner .bannerIllustration2 {
    /* width: calc(100vw - 76.6vw); */
    width: calc(100% - 60%);
    /* width: 23.50%; */
    height: 413px;
    background: linear-gradient(to bottom, rgba(32, 34, 39, 0.05), #202227);
    position: absolute;
    right: 0;
    bottom: 0;
}
/* Banner end */

/* Service start */
#service{
    padding: 88px 0 160px 0;
    margin-bottom: 100px;
    position: relative;
}
#service .container{
    position: relative;
    z-index: 2;
}
#service h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -.5px;
    color: #fff;
    text-align: center;
    padding: 0 100px;
}
#service .dGrid{
    grid-template-columns: repeat(2, 384px);
    justify-content: end;
    margin-top: 160px;
    column-gap: 56px;
}
#service .service{
    padding-top: 30px;
    border-top: 1px solid #555557;
}
#service .service h3{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: #fff;
    margin-bottom: 30px;
}
#service .service p{
    font-size: 21px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.5px;
    margin-bottom: 30px;
}
#service .service a{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    text-transform: uppercase;
    color: #fff;
    margin-top: 60px;
}
#service .service a i{
    margin-left: 8px;
}
#service .about{
    padding-top: 30px;
    border-top: 1px solid #555557;
}
#service .about h3{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: #fff;
    margin-bottom: 30px;
}
#service .about p{
    font-size: 21px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.7px;
    margin-bottom: 30px;
}
#service .about a{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    text-transform: uppercase;
    color: #fff;
    margin-top: 60px;
}
#service .about a i{
    margin-left: 8px;
}
.serviceIllustration {
    width: 680px;
    height: 430px;
    background-color: #AEA9B0;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 190px;
}
.serviceIllustration::after {
    content: "";
    width: 100%;
    height: 112%;
    background-color: #121316;
    background: linear-gradient(117deg, #121316 25%, #AEA9B0 109%);
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-20%, -20%);
    -webkit-transform: translate(-20%, -20%);
    -moz-transform: translate(-20%, -20%);
    -ms-transform: translate(-20%, -20%);
    -o-transform: translate(-20%, -20%);
    border-radius: 0 28px 50% 0;
    -webkit-border-radius: 0 28px 50% 0;
    -moz-border-radius: 0 28px 50% 0;
    -ms-border-radius: 0 28px 50% 0;
    -o-border-radius: 0 28px 50% 0;
    filter: blur(65px);
    -webkit-filter: blur(65px);
}
/* Service end *
/
/* Project start */
#project{
    padding: 120px 0 160px 0;
    border: 1px solid red;
}
#project h2 {
    width: 670px;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.5;
    color: #fff;
    letter-spacing: -1.7px;
    margin-bottom: 50px;
}
#project h2 span{
    color: rgba(255, 255, 255, 0.40);
}
#project .dGrid{
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
}
#project .dGrid ul{
    display: grid;
    grid-template-columns: repeat(12, auto);
    column-gap: 16px;
}
#project .dGrid ul li a{
    font-size: 20px;
    font-weight: 500;
    padding: 12px 28px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid #999;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
#project .dGrid ul li:hover a{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.18);
}
#project .dGrid a{
    font-size: 20px;
    font-weight: 500;
    padding: 12px 28px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid #999;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
#project .dGrid a:hover{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.18);
}
#project .dGrid {
    border-bottom: 1px solid rgba(113, 113, 115, 0.70);
    padding-bottom: 24px;
    margin-bottom: 24px;
}
.projectHead{
    font-size: 20px;
    font-weight: 500;
    color: #A3A3A5;
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: space-between;
}
.projectHead li:nth-child(odd) a{
    color: #fff;
}
.projectHead li:nth-child(even) a{
    position: relative;
}
.projectHead li:nth-child(even) a::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #A3A3A5;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 8px);
    -webkit-transform: translate(-50%, 8px);
    -moz-transform: translate(-50%, 8px);
    -ms-transform: translate(-50%, 8px);
    -o-transform: translate(-50%, 8px);
}
#project .gridContainer{
    width: 1240px;
    width: 882px;
    border: 1px solid red;
    display: grid;
    grid-template: repeat(auto-fit, minmax(397px, 1fr)) / repeat(auto-fit, minmax(397px, 1fr));
    gap: 24px;
}
#project .gridContainer .gridItem{
    background: #555557;
}
/* Project end */