html {
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
body{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    color: #A3A3A5;
    font-style: normal;
    font-optical-sizing: auto;
    line-height: .8;
    font-weight: 400;
    background: #121316;
}
.container{
    width: 1240px;
    margin: 0 auto;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
span{
    display: inline-block;
}
ol,ul{
    list-style-type: none;
}
.dGrid{
    display: grid;
}
/* NAV start */
#nav{
    width: 100%;
    padding-top: 30px;
    background: #121316;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 999999999;
}
#nav .dGrid{
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    text-transform: capitalize;
    padding-bottom: 30px;
    border-bottom: 1px solid #555557;
}
#nav .dGrid i{
    margin-left: 8px;
}
/* NAV end */

/* Banner start */
#banner{
    padding-top: 225px;
    padding-bottom: 100px;
    position: relative;
}
#banner h1{
    width: 834px;
    font-size: 110px;
    font-weight: 700;
    line-height: 1.25;
    color: #fff;
    letter-spacing: -6px;
}
#banner h1 span{
    color: rgba(255, 255, 255, 0.5);
}
.bannerImage{
    width: 100%;
    height: 444px;
    background-color: #555557;
    margin-top: 90px;
    position: relative;
    z-index: 2;
}
.bannerImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bannerImage>i{
    width: 142px;
    height: 142px;
    font-size: 25px;
    line-height: calc(142px - (6px *2));
    text-align: center;
    color: #121316;
    background: rgb(221,255,85);
    background: linear-gradient(90deg, rgba(221,255,85,1) 0%, rgba(193,248,11,1) 100%);
    border: 6px solid #121316;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    right: 39px;
    top: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
#banner .dGrid{
    font-size: 24px;
    color: #fff;
    margin-top: 32px;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}
#banner .dGrid p span{
    font-size: 24px;
    color: #717173;
}
#banner .bannerIllustration1 {
    width: calc(50% - 503px);
    height: 413px;
    background: linear-gradient(to bottom, rgba(32, 34, 39, 0.05), #202227);
    position: absolute;
    left: 0;
    bottom: 0;
}
#banner .bannerIllustration2 {
    width: calc(50% - 190px);
    height: 413px;
    background: linear-gradient(to bottom, rgba(32, 34, 39, 0.05), #202227);
    position: absolute;
    right: 0;
    bottom: 0;
}
/* Banner end */

/* Service start */
#service{
    padding: 88px 0 160px 0;
    margin-bottom: 100px;
    position: relative;
}
#service .container{
    position: relative;
    z-index: 2;
}
#service h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -.5px;
    color: #fff;
    text-align: center;
    padding: 0 100px;
}
#service .dGrid{
    grid-template-columns: repeat(2, 384px);
    justify-content: end;
    margin-top: 160px;
    column-gap: 56px;
}
#service .service{
    padding-top: 30px;
    border-top: 1px solid #555557;
}
#service .service h3{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: #fff;
    margin-bottom: 30px;
}
#service .service p{
    font-size: 21px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.5px;
    margin-bottom: 30px;
}
#service .service a{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    text-transform: uppercase;
    color: #fff;
    margin-top: 60px;
}
#service .service a i{
    margin-left: 8px;
}
#service .about{
    padding-top: 30px;
    border-top: 1px solid #555557;
}
#service .about h3{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: #fff;
    margin-bottom: 30px;
}
#service .about p{
    font-size: 21px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.7px;
    margin-bottom: 30px;
}
#service .about a{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    text-transform: uppercase;
    color: #fff;
    margin-top: 60px;
}
#service .about a i{
    margin-left: 8px;
}
.serviceIllustration {
    width: calc(50% - 273px);
    height: 430px;
    background-color: #AEA9B0;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 190px;
}
.serviceIllustration::after {
    content: "";
    width: 100%;
    height: 112%;
    background-color: #121316;
    background: linear-gradient(117deg, #121316 25%, #AEA9B0 109%);
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-20%, -20%);
    -webkit-transform: translate(-20%, -20%);
    -moz-transform: translate(-20%, -20%);
    -ms-transform: translate(-20%, -20%);
    -o-transform: translate(-20%, -20%);
    border-radius: 0 28px 50% 0;
    -webkit-border-radius: 0 28px 50% 0;
    -moz-border-radius: 0 28px 50% 0;
    -ms-border-radius: 0 28px 50% 0;
    -o-border-radius: 0 28px 50% 0;
    filter: blur(65px);
    -webkit-filter: blur(65px);
}
/* Service end *
/
/* Project start */
#project{
    padding: 120px 0 160px 0;
}
#project h2 {
    width: 670px;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.5;
    color: #fff;
    letter-spacing: -1.7px;
    margin-bottom: 50px;
}
#project h2 span{
    color: rgba(255, 255, 255, 0.40);
}
#project .dGrid{
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
}
#project .dGrid ul{
    display: grid;
    grid-template-columns: repeat(12, auto);
    column-gap: 16px;
}
#project .dGrid ul li a{
    font-size: 20px;
    font-weight: 500;
    padding: 12px 28px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid #999;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
#project .dGrid ul li:hover a{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.18);
}
#project .dGrid a{
    font-size: 20px;
    font-weight: 500;
    padding: 12px 28px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid #999;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
#project .dGrid a:hover{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.18);
}
#project .dGrid {
    border-bottom: 1px solid rgba(113, 113, 115, 0.70);
    padding-bottom: 24px;
    margin-bottom: 24px;
}
.projectHead{
    font-size: 20px;
    font-weight: 500;
    color: #A3A3A5;
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: space-between;
}
.projectHead li:nth-child(odd) a{
    color: #fff;
}
.projectHead li:nth-child(even) a{
    position: relative;
}
.projectHead li:nth-child(even) a::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #A3A3A5;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 8px);
    -webkit-transform: translate(-50%, 8px);
    -moz-transform: translate(-50%, 8px);
    -ms-transform: translate(-50%, 8px);
    -o-transform: translate(-50%, 8px);
}
#project .gridContainer {
    width: 1240px;
    height: 882px;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(397px, 1fr));
    grid-template-rows: repeat(12, 1fr);
    grid-auto-flow: row;
    gap: 24px;
}
#project .gridContainer .gridItem{
    overflow: hidden;
}
#project .gridContainer .gridItem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#project .gridContainer .gridItem_1{
    grid-row: span 12;
}
#project .gridContainer .gridItem_2{
    grid-row: span 6;
}
#project .gridContainer .gridItem_2>div {
    width: 100%;
    height: 90.503%;
}

#project .gridContainer .gridItem_3{
    grid-row: span 7;
}

#project .gridContainer .gridItem_4{
    grid-row: span 6;
}
#project .gridContainer .gridItem_4>ul{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    position: relative;
    z-index: 2;
}
#project .gridContainer .gridItem_4>ul li:first-child{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.9px;
    color: #fff;
    margin-bottom: 24px;
}
#project .gridContainer .gridItem_4>ul li:last-child{
    position: relative;
}
#project .gridContainer .gridItem_4>ul li:last-child::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #555557;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -19px);
    -webkit-transform: translate(-50%, -19px);
    -moz-transform: translate(-50%, -19px);
    -ms-transform: translate(-50%, -19px);
    -o-transform: translate(-50%, -19px);
}
#project .gridContainer .gridItem_4 div{
    width: 100%;
    height: 90%;
}
#project .gridContainer .gridItem_5 {
    grid-row: span 5;
    align-self: end;
}
#project .gridContainer .gridItem_5>ul{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
}
#project .gridContainer .gridItem_5>ul li:first-child{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.9px;
    color: #fff;
    margin-bottom: 24px;
}
#project .gridContainer .gridItem_5 div {
    width: 100%;
    height: 300px;
}
#project .gridContainer .gridItem_5>ul li:last-child{
    position: relative;
}
#project .gridContainer .gridItem_5>ul li:last-child::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #555557;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -19px);
    -webkit-transform: translate(-50%, -19px);
    -moz-transform: translate(-50%, -19px);
    -ms-transform: translate(-50%, -19px);
    -o-transform: translate(-50%, -19px);
}
/* Project end */

/* Awards start */
#awards{
    padding: 100px 0;
}
#awards .title {
    width: 707px;
    margin: 0 auto;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    letter-spacing: -1.7px;
    margin-bottom: 15px;
}
#awards .awardsSubTitle {
    width: 482px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    letter-spacing: -.7px;
    margin-bottom: 50px;
}
#awards .dGrid{
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
}
#awards .dGrid ul{
    display: grid;
    grid-template-columns: repeat(12, auto);
    column-gap: 16px;
}
#awards .dGrid ul li a{
    font-size: 20px;
    font-weight: 500;
    padding: 12px 28px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid #999;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
#awards .dGrid ul li:hover a{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.18);
}
#awards .dGrid a{
    font-size: 20px;
    font-weight: 500;
    padding: 12px 28px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid #999;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
#awards .dGrid a:hover{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.18);
}
#awards .dGrid {
    border-bottom: 1px solid rgba(113, 113, 115, 0.70);
    padding-bottom: 24px;
    margin-bottom: 24px;
}
#awards .gridContainer {
    width: 1240px;
    height: 882px;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(386px, 1fr));
    grid-template-rows: repeat(8, 1fr);
    grid-auto-flow: row;
    gap: 24px;
}
#awards .gridContainer .gridItem{
    border: 0.1px dotted #555557;
    overflow: hidden;
    position: relative;
}
#awards .gridContainer .gridItem img{
    object-fit: cover;
}
#awards .gridContainer .gridItem .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}
#awards .gridContainer .gridItem .overlay a{
    font-size: 20px;
    font-weight: 500;
    color: #121316;
    text-transform: capitalize;
    padding: 12px 24px;
    background-color: #fff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
#awards .gridContainer .gridItem:hover .overlay{
    opacity: 1;
}
#awards .gridContainer .gridItem_1{
    padding: 24px;
    grid-row: span 3;
    background: linear-gradient(to bottom right, #3C3F49, rgba(60, 63, 73, 0.01));
}
#awards .gridContainer .gridItem_1 h3{
    font-size: 28px;
    font-weight: 500;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.6);
}
#awards .gridContainer .gridItem_1 h4{
    font-size: 56px;
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
    letter-spacing: -2.5px;
    margin-top: 24px;
}
#awards .gridContainer .gridItem_1 span{
    text-transform: capitalize;
    color: #B1B2B6;
    margin-right: 15px;
}
#awards .gridContainer .gridItem_2{
    grid-column: span 2;
    grid-row: span 5;
}

#awards .gridContainer .gridItem_3{
    grid-row: span 5;
}

#awards .gridContainer .gridItem_4{
    grid-row: span 3;
}


#awards .gridContainer .gridItem_5 {
    grid-row: span 3;
    padding: 24px;
    background-color: #485518;
}
#awards .gridContainer .gridItem_5 h2{
    font-size: 32px;
    font-weight: 600;
    color: #fff;
}
#awards .gridContainer .gridItem_5>ul {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.4px;
    margin-top: 30px;
    border-bottom: 2px solid rgba(181, 186, 163, 0.40);
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    align-items: center;
}
#awards .gridContainer .gridItem_5>ul li:first-child{
    color: #fff;
    position: relative;
}
#awards .gridContainer .gridItem_5>ul li:first-child::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 3px);
    -webkit-transform: translate(-50%, 3px);
    -moz-transform: translate(-50%, 3px);
    -ms-transform: translate(-50%, 3px);
    -o-transform: translate(-50%, 3px);
}
#awards .gridContainer .gridItem_5>p{
    font-size: 16px;
    font-weight: 500;
    color: #B0B1B5;
    line-height: 1.65;
    letter-spacing: -0.4px;
    margin-top: 25px;
}
#awards .gridContainer .gridItem_5>p span{
    color: #fff;
}
#awards .awardsBorderBottom{
    width: 100%;
    height: 4px;
    background-color: rgba(217, 217, 217, 0.10);
    margin-top: 32px;
    position: relative;
}
#awards .awardsBorderBottom::before{
    content: "";
    width: 240px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.60);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
/* Awards end */

/* Footer start */
#footer{
    padding-top: 100px;
}
#footer .dGrid{
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 407px);
    justify-content: space-between;
    column-gap:72px
}
#footer .dGrid .left{
    grid-column: span 7;
}
#footer .dGrid .left .footerSubTitle{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    letter-spacing: -0.5px;
}
#footer .dGrid .left ul{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
    border-bottom: 1px solid #40444F;
    padding-bottom: 30px;
}
#footer .dGrid .left ul li:first-child{
    font-size: 72px;
    font-weight: 700;
    color: #40444F;
}
#footer .dGrid .left ul li:last-child i{
    width: 56px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    color: #fff;
    background-color: #40444F;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#footer .dGrid .left .footerIcon{
    margin-top: 34px;
}
#footer .dGrid .left .footerIcon i{
    font-size: 22px;
    padding: 16px;
    color: #C1C4CD;
    background-color: rgba(64, 68, 79, 0.40);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 15px;
}
#footer .dGrid .right{
    grid-column: span 5;
    /* background-color: green; */
    overflow: hidden;
    position: relative;
}
#footer .dGrid .right img{
    object-fit: cover;
}
#footer .dGrid .right .overlay{
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 24px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
}
#footer .dGrid .right .overlay span{
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    padding-bottom: 10px;
    letter-spacing: -0.40px;
    border-bottom : 1px solid #fff;
}
#footer .footerBottom{
    padding: 47px 0 48px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
}
#footer .footerBottom span{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}
/* Footer end */